<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Below are your generated insights.</p>
    <p><%="Max Value : #{@insights_data['max_value']}"%></p>
    <p><%="Min Value : #{@insights_data['min_value']}"%></p>
    <p><%="Median Value : #{@insights_data['median_value']}"%></p>
  </body>
</html>